#flexbox{
    height: 400px;
    width: 400px;
    border: 4px solid rgb(97, 220, 220);
    display: flex;
    flex-wrap: wrap;
    margin: 10px auto;
    justify-content: space-evenly;
    border-radius: 10px;
    align-items: center;
    

}
#flexbox div{
    height: 100px;
    width: 100px;
   background-color: gray;
   border: 3px solid black;
   text-align: center;
   border-radius: 10px;
   font-size: 50px;
  
}
#fb{
    height: 50px; 
    width: 900px;                               
    background-color:pink;
    border: 2px solid lightseagreen;
    display: flex;
    font-size: 24px;
    border-radius: 10px;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 50px;
    align-content: center;
    


}
#fb div{
    height: 50px;
    width: 80px;
    text-align: center;
    line-height: 50px;
    margin-left: 5px;

}

.info{
    height: 400px;
    width: 400px;
    border: 4px solid rgb(97, 220, 220);
    display: flex;
    flex-wrap: wrap;
    margin: 10px auto;
    justify-content: space-evenly;
    border-radius: 10px;
    align-items: center;
    text-align: center;
}