.outer{
    height:200px;
    width:200px;
    border:2px solid black; 
    
}
.iner{
    height: 100px;
    width: 200px;
   
}
div{
    display: inline-block;
}
img{
    height: 200px;
    width: 200px;
}